.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}